body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
}

#fighter-container img {
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#fighter-container input {
  padding: 5px;
  margin: 5px;
  text-transform: lowercase;
}

#fighter-container button {
  padding: 5px 10px;
  cursor: pointer;
}

#fighter-container p {
  font-size: 16px;
}
